.nav{
    // margin-top: 10px;
    width: 100%;
    background: rgb(206, 243, 203);
    .wrapNavBar{
        width:1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        .navBar{
            font-size:0;
            li{
                display:inline-block;
                font-size:1rem;
                text-align: center;
                margin: 10px 10px;
                a{
                  display: block;
                  background: rgb(86, 194, 86);
                  width: 80px;
                  padding: 20px 0;
                  text-decoration: none;
                  color: #fff;
                  &:hover{
                    background: rgb(25, 134, 25);
                  }
                }
                .navActive{
                  background: rgb(25, 134, 25);
                }
            }
        }
    }
}

